{% load static %}
<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    
    <!-- Original CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>日報登録 | WoRKS</title>
  </head>
  <body class="text-center bg-light">

    <div>
      <i class="md-4 bi bi-person-workspace" alt="WoRKS"></i>
    </div>

    {% if user_works %}
    <form class="border rounded bg-white form-time-table" action="{% url 'works:index' %}">
      <h1 class="h3 my-3">月別リスト</h1>

      <!--
      <select class="form-select rounded-pill mb-3" aria-label="Default select example">
	<option selected>2022 / 10</option>
      </select>
      -->
      {{ form.date_pulldown }}
      <table class="table">
	<thead>
	  <tr class="bg-light">
	    <th scope="col">日</th>
	    <th scope="col">出勤</th>
	    <th scope="col">退勤</th>
	    <th scope="col">休憩</th>
	    <th scope="col">業務内容</th>
	    <th scope="col"></th>
	  </tr>
	</thead>
	<tbody id="table-body">
	  {% for user_work in user_works %}
	  <tr>
	    <th scope="row">{{ user_work.date | date:"j (l)" | cut:"曜日" }}</th>
	    <td>{{ user_work.start_time | default:" "}}</td>
	    <td>{{ user_work.end_time | default:" " }}</td>
	    <td>{{ user_work.break_time | default:" " }}</td>
	    <td>{{ user_work.comment | default:" " | truncatechars:"40" }}</td> <!-- 文字数を40字で切り詰め -->
	    <td id="edit-icon"><button type="button" class="btn btn-default h-auto py-0" data-bs-toggle="modal" data-bs-target="#exampleModal" data-day="{{ user_work.date }}"><i class="fa-solid fa-pencil" id="pencil-icon"></i></button></td>
	    <td hidden>{{ request.user.id }}</td>
	    <td hidden>{{ user_work.date | date:"Y-m-d" }}</td>
	    <td hidden>{{ user_work.id }}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </form>

    <!-- Modal -->
    <form method="post" action="{% url 'works:index' %}">{% csrf_token %}
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
	    <div class="modal-header">
	      <p></p>
	      <h5 class="modal-title" id="exampleModalLabel">日報登録</h5>
	      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	    </div>
	    <div class="modal-body">
	      <div class="container">
		<div class="alert alert-primary" role="alert">
		  <span id="modal_day">{{ work.date | date:"n/j (l)" | cut:"曜日" }}</span>
		</div>
		<div hidden>
		  {{ modal_form.user_id }}
		  {{ modal_form.date }}
		</div>
		<div class="row">
		  <div class="col">
		    <div class="input-group">
		      {{ modal_form.start_time }}
		      <!--
	  <input type="text" class="form-control" placeholder="出勤" >
		      -->
	  <button type="button" class="input-group-text" id="start_btn">打刻</button>
		    </div>
		  </div>
		  <div class="col">
		    <div class="input-group">
		      {{ modal_form.end_time }}
		      <!--
	  <input type="text" class="form-control" placeholder="退勤" >
		      -->
	  <button type="button" class="input-group-text" id="end_btn">打刻</button>
		    </div>
		  </div>
		  <div class="col">
		    <div class="input-group">
		      {{ modal_form.break_time }}
		      <!--
	  <input type="text" class="form-control" placeholder="休憩" >
		      -->
		    </div>
		  </div>
		</div>
		<div class="mb-3 pt-3">
		  {{ modal_form.comment }}
		  <!--
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="業務内容"></textarea>
		  -->
		</div>
	      </div>
	    </div>
	    <div class="modal-footer">
	      <button type="submit" class="btn btn-primary text-white rounded-pill px-5">登録</button>
	    </div>
	  </div>
	</div>
      </div>
    </form>
    {% else %}
    <h1>現在あなたの日報情報はありません。</h1>
    {% endif %}
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    <!-- Original JavaScript -->
    <script src="{% static 'js/select.js' %}" type="text/javascript"></script>

    <script>
      {% if work.start_time and work.end_time %}
      {% else %}
      // モーダルが自動表示するように設定
      /*jQuery(document).ready(function(){
	jQuery('#exampleModal').modal('show');
      });*/
      var inputModal = new bootstrap.Modal(document.getElementById('exampleModal'));
      inputModal.toggle();
      {% endif %}

      // 出勤用打刻ボタン処理
      $('#start_btn').click(function() {
	const now = new Date();
	const hour = now.getHours().toString().padStart(2, '0');
	const minute = now.getMinutes().toString().padStart(2, '0');
	$('#modal_start_time').val(hour+':'+minute);
      })

      // 退勤用打刻ボタン処理
      $('#end_btn').click(function() {
	const now = new Date();
	const hour = now.getHours().toString().padStart(2, '0');
	const minute = now.getMinutes().toString().padStart(2, '0');
	$('#modal_end_time').val(hour+':'+minute);
      })

      // 各日報データの編集ボタン用の処理
      $('#exampleModal').on('show.bs.modal', function(event) {
	var button = $(event.relatedTarget)
 	//var target_day = button.data('day')
	// 編集ボタンが押されたら対処データ（<table>内の要素）を取得し代入する処理
        var day = button.closest('tr').children('th')[0].innerText
        var start_time = button.closest('tr').children('td')[0].innerText
	var end_time = button.closest('tr').children('td')[1].innerText
	var break_time = button.closest('tr').children('td')[2].innerText
	var comment = button.closest('tr').children('td')[3].innerText
	var user_id = button.closest('tr').children('td')[5].innerText
	var target_day = button.closest('tr').children('td')[6].innerText
        
	// 取得したデータをモーダルの各欄に設定
	$('#modal_day').text(day)
	$('#modal_start_time').val(start_time)
	$('#modal_end_time').val(end_time)
	$('#modal_break_time').val(break_time)
	$('#modal_comment').val(comment)
	$('#modal_user_id').val(user_id)
	$('#modal_date').val(target_day)
      })
    </script>

    
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
