<!-- extendaはテンプレートの最初タグである必要があります。　-->
{% extends 'works/base.html' %}
{% load static %}

{% block content %}
<form class="border rounded bg-white form-time-table">
  <h1 class="h3 my-3">月別リスト</h1>

  <!-- 管理者のみ編集ボタンを表示するための隠しブロック -->
  <div id="admin" hidden>{{ request.user.admin }}</div>

  <!-- 過去１２ヵ月のプルダウン -->
  {{ pulldown_form.date_pulldown }}

  <!-- 日報テーブル -->
  <table class="table">
    <thead>
      <tr class="bg-light">
	<th scope="col">日</th>
	<th scope="col">出勤</th>
	<th scope="col">退勤</th>
	<th scope="col">休憩</th>
	<th scope="col">業務内容</th>
	<th scope="col"></th>
      </tr>
    </thead>
    <tbody id="table-body">
      {% for user_work in user_works %}
      <tr>
	<th scope="row">{{ user_work.date | date:"j (l)" | cut:"曜日" }}</th>
	<td>{{ user_work.start_time | default:" "}}</td>
	<td>{{ user_work.end_time | default:" " }}</td>
	<td>{{ user_work.break_time | default:" " }}</td>
	<td>{{ user_work.comment | default:" " | truncatechars:"40" }}</td> <!-- 文字数を40字で切り詰め -->
	<!-- モーダルに設定された日付と本日の日付が同じだった場合か管理者の場合は編集ボタンを表示する仕様 -->
	<td id="edit-icon">
	  {% if work.date == user_work.date or request.user.admin == True %}
	  <button type="button" class="btn btn-default h-auto py-0" data-bs-toggle="modal" data-bs-target="#exampleModal" data-day="{{ user_work.date }}">
	    <i class="fa-solid fa-pencil" id="pencil-icon"></i>
	  </button>
	  {% endif %}
	</td>
	<!-- 以下の<td>はモーダルでの登録時に必要な要素なため、hiddenによって非表示にしている。-->
	<td hidden>{{ request.user.id }}</td>
	<td hidden>{{ user_work.date | date:"Y-m-d" }}</td>
	<td hidden>{{ user_work.id }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>

<!-- Modal -->
<form method="post" action="{% url 'works:index' %}" novalidate>{% csrf_token %}
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header">
	  <p></p>
	  <h5 class="modal-title" id="exampleModalLabel">日報登録</h5>
	  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">
	  <div class="container">
	    <div class="alert alert-primary" role="alert">
	      <span id="modal_day">{{ work.date | date:"n/j (l)" | cut:"曜日" }}</span>
	    </div>

	    <!-- 必要な要素なため非表示にしている -->
	    <div hidden>
	      {{ modal_form.user_id }}
	      {{ modal_form.date }}
	    </div>

	    <div class="row">
	      <div class="col">
		<div class="input-group">
		  {{ modal_form.start_time }}
		  <button type="button" class="input-group-text" id="start_btn">打刻</button>
		  <div class="invalid-feedback">
		    {{ modal_form.start_time.errors.0 }}
		  </div>
		</div>
	      </div>
	      <div class="col">
		<div class="input-group">
		  {{ modal_form.end_time }}
		  <button type="button" class="input-group-text" id="end_btn">打刻</button>
		  <div class="invalid-feedback">
		    {{ modal_form.end_time.errors.0 }}
		  </div>
		</div>
	      </div>
	      <div class="col">
		<div class="input-group">
		  {{ modal_form.break_time }}
		  <div class="invalid-feedback">
		    {{ modal_form.break_time.errors.0 }}
		  </div>
		</div>
	      </div>
	    </div>
	    <div class="mb-3 pt-3">
	      {{ modal_form.comment }}
	      <div class="invalid-feedback">
		{{ modal_form.comment.errors.0 }}
	      </div>
	    </div>
	  </div>
	</div>
	<div class="modal-footer">
	  <button type="submit" class="btn btn-primary text-white rounded-pill px-5">登録</button>
	</div>
      </div>
    </div>
  </div>
</form>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Original JavaScript -->
<script src="{% static 'js/select.js' %}" type="text/javascript"></script>

<script>
  // 出勤・退勤・休憩のどれかが未登録の場合はモーダルを自動表示する
  {% if work.start_time and work.end_time and work.break_time %}
{% else %}
var inputModal = new bootstrap.Modal(document.getElementById('exampleModal'));
inputModal.toggle();
{% endif %}

// 出勤用打刻ボタン処理
$('#start_btn').click(function() {
  const now = new Date();
  const hour = now.getHours().toString().padStart(2, '0');
  const minute = now.getMinutes().toString().padStart(2, '0');
  $('#modal_start_time').val(hour+':'+minute);
})

// 退勤用打刻ボタン処理
$('#end_btn').click(function() {
  const now = new Date();
  const hour = now.getHours().toString().padStart(2, '0');
  const minute = now.getMinutes().toString().padStart(2, '0');
  $('#modal_end_time').val(hour+':'+minute);
})

// 各日報データの編集ボタン用の処理
$('#exampleModal').on('show.bs.modal', function(event) {
  // モーダルの出勤項目でバリデーションエラーを回避するためにここで置き換える
  document.getElementById("modal_start_time").setAttribute("class", "form-control");
  var button = $(event.relatedTarget)
  // 編集ボタンが押されたら対処データ（<table>内の要素）を取得し代入する処理
  var day = button.closest('tr').children('th')[0].innerText
  var start_time = button.closest('tr').children('td')[0].innerText
  var end_time = button.closest('tr').children('td')[1].innerText
  var break_time = button.closest('tr').children('td')[2].innerText
  var comment = button.closest('tr').children('td')[3].innerText
  var user_id = button.closest('tr').children('td')[5].innerText
  var target_day = button.closest('tr').children('td')[6].innerText

  // 取得したデータをモーダルの各欄に設定
  $('#modal_day').text(day)
  $('#modal_start_time').val(start_time)
  $('#modal_end_time').val(end_time)
  $('#modal_break_time').val(break_time)
  $('#modal_comment').val(comment)
  $('#modal_user_id').val(user_id)
  $('#modal_date').val(target_day)
})

</script>

{% endblock %}
